:root {
    --primary-color: rgb(36, 65, 122);
    --background-light: rgb(230,225,225);
}

body {
   background-color: var(--background-light);
   font-family: Arial, Helvetica, sans-serif ;
   max-width: 900px;
   font-size: medium;
   margin: 0 auto;
   
}
header {
      background-color: var(--background-light);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid rgb(var(--primary-color));
    margin-bottom: 20px;
}
section {
    background-color: var(--background-light);
    border: 5px solid var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
img {
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    margin-top: 10px;
    
}

h1 {
      color: var(--primary-color);
      font-size: 36px;
      text-align: center;
      margin-bottom: 10px;
      
}
header{
   text-align: left;
}

h2 {
      color: rgb(36, 65, 122)

}

a {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: underline;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
        
    }
    header{
        text-align: center  ;
    }
    section {
        padding: 10px;
    }
    img {
        margin: 10px auto;
        display: block;
    }
}

