body {
   background-color: rgb(112, 180, 239);
   font-family: Arial, Helvetica, sans-serif ;
   
}
header {
      background-color: rgb(230, 225, 225);

    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid rgb(36, 65, 122);
    margin-bottom: 20px;
}
section {
    background-color: rgb(230, 225, 225);
    border: 5px solid rgb(36, 65, 122);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
img {
    border-radius: 50%;
    border: 3px solid rgb(36, 65, 122);
    margin-top: 10px;
    float: right;
}

h1 {
      color: rgb(36, 65, 122);
      font-size: 36px;
      text-align: center;
      margin-bottom: 10px;
      
}
header{
   text-align: left;
}

h2 {
      color: rgb(36, 65, 122)

}