:root {
    --primary-color: rgb(36, 65, 122);
    --background-light: rgb(230, 225, 225);
}

body {
    background-color: var(--background-light);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 850px;
    font-size: 14px;
    margin: 0 auto;
    padding: 20px;
}

.resume-header {
    padding: 20px;
    background-color: var(--background-light);
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    margin-bottom: 15px;
}

.header-text h1 {
    margin: 0 0 5px 0;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 15px;
}

.contact-info span:not(:last-child)::after {
    content: "|";
    margin-left: 15px;
    color: var(--primary-color);
}


h1 {
    color: var(--primary-color);
    font-size: 32px;
    text-align: left;
    margin-bottom: 5px;
}

h2 {
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

section {
    background-color: var(--background-light);
    border: 3px solid var(--primary-color);
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

section p {
    margin: 4px 0;
}

section ul {
    margin: 5px 0;
    padding-left: 20px;
}

section li {
    margin-bottom: 3px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .resume-header {
        text-align: center;
    }

    .contact-info {
        justify-content: center;
    }

    h1 {
        text-align: center;
    }

    section {
        padding: 10px 15px;
    }
}
